<div class="container-fluid custom-bg">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="bg-content">
                  

<div class="row">
<div class="col-md-6">
<p>
  ติดต่อเรา<br>
  บริษัท แฟมมิลี่-ดี จำกัด<br>

  สำนักงานใหญ่<br>
  เลขที่ 89/92 หมู่ที่ 5 ตำบลบางพลับ<br>
  อำเภอ ปากเกร็ด จังหวัด นนทบุรี 11120<br>
  เลขประจำตัวผู้เสียภาษี: 0125563000558<br>
  โทร. 09-88403422<br>
  อีเมล : <label>familydd6gmail.com</label>

</p>
</div>
<div class="col-md-6">
<div class="item">
  <img src="../../images/banner/contactus.png" style="width:500px;height:500px">
</div>
</div>
</div>

              </div>
          </div>
      </div>
  </div>
  <div class="row">
  </div>
</div>