<div class="main">
    <div class="card">
        <div class="row">
            <div class="col-sm-12 m-b-20">
                <div class="title-bar">
                    <h2 class="title text-left border-bottom top-35"> Product Details </h2>
                </div>
            </div>
            <div class="col-sm-5">
                <section class="consulting-section section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5">
                                <div id="consulting-carousel" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <span class="consulting-caption"><img src="assets/images/consult/c1.jpg"
                                                    alt="image"></span>
                                        </div>
                                        <div class="item">
                                            <span class="consulting-caption"><img src="assets/images/consult/c2.jpg"
                                                    alt="image"></span>

                                        </div>

                                        <div class="item">

                                            <span class="consulting-caption"><img src="assets/images/consult/c3.jpg"
                                                    alt="image"></span>

                                        </div>

                                        <div class="item">

                                            <span class="consulting-caption"><img src="assets/images/consult/c4.jpg"
                                                    alt="image"></span>

                                        </div>
                                    </div>
                                    <ol class="carousel-indicators">
                                        <li data-target="#consulting-carousel" data-slide-to="0" class="active"><img
                                                src="assets/images/consult/cs1.jpg" alt="image"></li>
                                        <li data-target="#consulting-carousel" data-slide-to="1" class=""><img
                                                src="assets/images/consult/cs2.jpg" alt="image"></li>
                                        <li data-target="#consulting-carousel" data-slide-to="2" class=""><img
                                                src="assets/images/consult/cs3.jpg" alt="image"></li>
                                        <li data-target="#consulting-carousel" data-slide-to="3" class=""><img
                                                src="assets/images/consult/cs4.jpg" alt="image"></li>

                                    </ol>
                                </div>
                            </div>
                        </div>

                    </div>
                </section> <!-- consulting-section -->


            </div>
            <div class="col-sm-7 ">
                <div class="pro-details">
                    <h2> สปาเก็ตตี้พริกแกง </h2>
                    <h3> Seller : ร้านบ้านพระนคร </h3>
                    <h4> Special priceends in less than </h4>

                    <div>
                        <span class="fa fa-star checked m-r-5"></span>
                        <span class="fa fa-star m-r-5 checked"></span>
                        <span class="fa fa-star m-r-5 checked"></span>
                        <span class="fa fa-star m-r-5 checkbox"></span>
                        <span class="fa fa-star m-r-5"></span>
                        (4.1) <a href="#"> 17679 Ratings </a> | <a href="#"> 933 Reviews </a>
                    </div>

                    <hr>
                    <div> MRP 5.00 (Inclusive of all taxes)Rs. 189 83% OFF </div>
                    <h1> Rs 65.00 <span class="price-off"> 83% OFF </span></h1>

                    <div class="row m-t-20">
                        <div class="form-group ">
                            <div class="col-sm-2">
                                <label> Price: </label>
                            </div>
                            <div class="col-sm-10">
                                <label class="orange-txt"> $ 65.00 </label>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-2">
                                <label> Size: </label>
                            </div>
                            <div class="col-sm-10">
                                <label class="orange-txt"> 2Kg </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label> Type:
                                </label>
                            </div>
                            <div class="col-sm-10">
                                <label class="orange-txt"> Lorem </label>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-2">
                                <label> Quantity: </label>
                            </div>
                            <div class="col-sm-10">
                                <label>
                                    <div class="number-input">
                                        <button
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"></button>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <h5> Available offers </h5>
                    <p> <span class="offer">Special Price : </span>Get extra 10% off (price inclusive of discount) </p>
                    <p> <span class="offer"> Combo Offer :</span> Buy 2 items save 5%;Buy 3 or more save 10%See all
                        productsT&C </p>


                    <div class="row m-t-20">
                        <div class="col-sm-4">
                            <a routerLink="/Addressdelivery" class="btn btn-primary addcart-btn"> Add to Cart</a>
                        </div>
                        <div class="col-sm-4">
                            <a routerLink="/Cartitems" class="btn btn-primary addcart-btn buy-btn" style="width:100%">
                                Buy It Now</a>
                        </div>
                    </div>
                    <!-- <div class="row">
                    <div class="col-sm-12 m-t-50">
                    <div  class="title-bar"><h2   class="title top-35"> Product Details </h2><span   class="title-border"></span></div>
                </div>
              
             
                    <div class="form-group">
                        <label class="col-sm-3"> Product Name: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div></div>
                    <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3"> Age:</label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div></div>
                    <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3"> Gender: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div></div>
                    <div class="row"> 
                    <div class="form-group">
                        <label class="col-sm-3"> Fighting Record: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div></div>
                    <div class="row"> 
                    <div class="form-group">
                        <label class="col-sm-3"> Sire/Breeder: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div></div>
                    <div class="row"> 
                    <div class="form-group">
                        <label class="col-sm-3"> Weight: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div> </div>
                    <div class="row"> 
                    <div class="form-group">
                        <label class="col-sm-3"> Breed: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div> </div>
                    <div class="row"> 
                    <div class="form-group">
                        <label class="col-sm-3"> Province: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div> </div>
                    <div class="row"> 
                    <div class="form-group">
                        <label class="col-sm-3"> Talent: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div> </div>
                    <div class="row"> 
                    <div class="form-group">
                        <label class="col-sm-3"> Additional Information: </label>
                       <label class="col-sm-9 lbl-detail"> fgd  </label>
                    </div> </div> -->

                </div>
            </div>

        </div>




        <div class="row">
            <div class="col-sm-12 m-t-50">


                <h2> Product Description</h2>
                <table class="table table-striped">

                    <tbody>
                        <tr>
                            <td width="400" class="first"> Product Name: </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> Age: </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> Gender: </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> Fighting Record: </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> Sire/Breeder: </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> Weight: </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>Breed: </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>Province: </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>Talent:</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>Additional Information:</td>
                            <td> </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <label class="lbl-detail"> Post your comment </label>
                <textarea class="form-control"></textarea>
            </div>
            <div class="col-sm-12 text-right m-t-20">
                <a href="#" class="btn btn-default "> Post Comment</a>
                <a href="#" class="btn btn-primary ">Send Message to Seller</a>
            </div>
        </div>
    </div>
</div>