
      .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: #fff;
    }
    .table-striped>tbody>tr>td:nth-child(1) {  
        background-color: #f4f4f4;
      }
      .carousel-indicators{
        left:0%;
        top: 429px;

    }
    .consulting-section #consulting-carousel .carousel-indicators {
      width: 80px;
      bottom: 10px;
      margin: 0;
      left:0;
      
      display: -webkit-inline-box;
  }