<footer class="footer-section">
    <div class="container">
        <div class="footer-part">
            <div class="row">
                <div class="col-sm-2">
                    <div class="footer-wrapper">
                        <h3>MY ACCOUNT</h3>

                        <ul class="page-link">
                             <li><a routerLink="/aboutus">About US</a></li>
                            <li><a href="#">Delivery Information</a></li>
                             <li><a href="#">Privacy Policy</a></li>
                             <li><a href="#">Terms And Coditions</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="footer-wrapper">
                        <!-- <h3>Newsletter</h3>

                         <form class="footer-form form-horizontal">
                             <div class="form-group">
                                 <input class="footerSearchBar form-control" value="email address.." onBlur="if(this.value=='')this.value='email address..'" onFocus="if(this.value=='email address..')this.value=''" id="footerSearchBar" name="email" type="email">
                             </div>

                             <div class="form-group">
                                 <button type="submit" class="subscribeBtn"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                             </div>
                         </form>-->

                        <h3 class="social-title">SOCIAL MEDIA</h3>

                        <ul class="social-media">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                             
                        </ul>
                    </div>
                </div>
                <div class="col-sm-7  text-right">
                    <div class="payment">
                      
                    <ul>
                         <li><a href="#"><img src="/images/visa.png"/></a></li>
                        <li><a href="#"><img src="/images/card.png"/></a></li>
                        <li><a href="#"><img src="/images/discover.png"/></a></li>
                        <li><a href="#"><img src="/images/american.png"/></a></li>
                        <li><a href="#"><img src="/images/paypal.png"/></a></li>
                    </ul>
                    </div></div>
            </div>
        </div> <!-- footer-one -->
    </div>

    <div class="copyright-section">
        <div class="container">
            <p class="inline-block">2022 ©  <span><a href="#" style="color:#666;"> Virgo-Leo Intertrading Co., Ltd</a></span></p>

            <ul class="pull-right">
                 
               
                 
            </ul>
        </div>
    </div>
</footer> 