<div class="main">
    <div class="card">
        <div class="row">
            <div class="col-sm-12 m-b-20">
                <div class="title-bar">
                    <h2 class="title text-left border-bottom top-35"> Order Summary </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">

                </div>
                <div class="col-md-2">
                   <p class=" text-left border-bottom top-35">TotalAmount:{{totalAmount | number: '1.2-2'}}</p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="{{productPicUrl}}/{{productID}}/{{images}}"
                    width="200" height="200" onerror="this.src='./assets/images/download.png';"  
                    class="d-block w-100" alt="image" style="margin-top: -50px;">
                </div>
                <div class="col-md-4">
                    <p>ProductName:{{selectedProdut.productName}}</p>
                    <p>SellerID:{{sellerName?.userName}}</p>
                      <div class="col-sm-10">
                         <label> <div class="number-input">
                            <button [disabled]="disable" (click)="decrement()"></button>
                            <input class="quantity" min="1" name="productCount" [value]="productCount" type="text">
                            <button (click)="increment()" class="plus"></button>
                            
                            <!-- <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button> -->
                          </div> </label>
                        </div>
                </div>
                <div class="col-md-2">
                   
                </div>
                <div class="col-md-2">
                    <p>StandardPrice:{{selectedProdut.standardPrice | number: '1.2-2'}}</p>
                    <p>Discount:{{selectedProdut.discount}}</p>
                </div>

            </div>
            <button *ngIf="selectedProdut.paymentOption == 2177" (click)="confirmOrder()" class="btn btn-primary" style="float: right;">Confirm Order</button>
            <button *ngIf="selectedProdut.paymentOption != 2177" (click)="confirmOrder()" class="btn btn-primary" style="float: right;">Continue Payment</button>
        </div>
    </div>
</div>