.title-bar .title {
  
    background: #dbd7d7;
    left:20px
}

.col-md-2 {
    width: 16.66666667%;
    left: 5.5px;
    right: 50px;
}
.border-bottom {
    border-bottom: 1.5px solid grey;
    color: black;
    font-weight: bold;
}
p {
    margin: 0 0 15px;
    line-height: 27px;
    font-weight: bold;
    color: black;
}