<div class="main" style="margin-top:80px;">
    <section class="banner-section">

        <div class=" text-center  p-t-50 p-b-20">
            <h2 class="title">About us</h2>
            <!-- <span class="sub-title ">Home / <span>About</span></span> -->
        </div>

    </section>
    <div class="row">
        <div class="col-md-12">
            <div class="bg-content">






                <div class="row">
                    <div class="policy-content">

                        <p class="text-para">บริษัท แฟมมิลี่-ดี จำกัด
                            ผู้ให้บริการแพลตฟอร์มสั่งอาหารออนไลน์และจัดส่งอาหารสัญชาติไทย ผ่านเว็บไซต์และแอปพลิเคชัน
                            FOOD DEE เพื่อช่วยสนับสนุนผู้ประกอบการร้านอาหาร
                            ผู้ให้บริการจัดส่งสินค้าให้สามารถเข้าถึงคุณให้มากขึ้น
                            และอำนวยความสะดวกให้กับคุณในการสั่งอาหารได้ง่าย สะดวกรวดเร็ว</p>
                        <p class="text-para">เรามีเมนูออนไลน์จากร้านอาหารหลากหลายที่อร่อยและพร้อมจัดส่งรอบๆ ตัวคุณมากมาย
                            เพียงป้อนพื้นที่ที่ต้องการค้นหา ก็สามารถค้นหาประเภทร้านอาหาร ร้านเครื่องดื่ม พร้อมโปรโมชั่น
                            ได้ง่ายและรวดเร็วขึ้น ให้เราเป็นตัวช่วยให้การสั่งและจัดส่งอาหารเป็นเรื่องง่ายสำหรับคุณ</p>
                        <p class="text-para"><b>“FOOD DEE” อร่อยสั่งตรงส่งถึงที่</b></p>


                    </div>
                </div>


            </div>
        </div>
    </div>
</div>