<div class="col-md-9 col-sm-8 rhs_bar">
    <div class="bg-content">
        


<div class="col-md-12">
<div class="item">
<img src="../../assets/images/banner/downloadapp01.png" style="width:100%">
</div>
</div>
<div class="col-md-12">
<div class="item">
<img src="../../assets/images/banner/downloadapp02.png" style="width:100%">
</div>
</div>
<div class="col-md-12">
<div class="item">
<img src="../../assets/images/banner/downloadapp03.png" style="width:100%">
</div>
</div><div class="col-md-12">
<div class="item">
<img src="../../assets/images/banner/downloadapp04.png" style="width:100%">
</div>
</div>



    </div>
</div>