<div class="main">
    <div class="col-sm-3 ">
        <div class="category-sec m-t-0">
            <select class="form-control">

                <option> Vaccine </option>
                <option> Medicine </option>
                <option> Food </option>
                <option> SUPPLEMENTARY FOOD </option>
                <option> EQUIPMENT </option>
                <option> CHICKEN </option>
            </select>
            <div class="panel-group m-t-20" id="accordion">
                <div class="panel panel-default">
                    <a href="#" class="list-group-item" data-toggle="collapse" data-target="#s0"
                        data-parent="#accordion">
                        <span id="AccordionHeadings">CHICKEN</span><span
                            class="glyphicon glyphicon-menu-down pull-right" style="top:6px;"></span></a>
                    <div id="s0" class="sublinks collapse-in">
                        <!-- sublinks collapse -->

                        <div class="list-group-item small d-flex align-items-center ">
                            <div class="form-group category-padding m-t-10">
                                <label> Product Name </label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group category-padding">
                                <label> Product Brand </label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group category-padding">
                                <label> Age </label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="list-group-item small d-flex align-items-center">

                            <div class="form-group category-padding">
                                <label> Price(From price - to price) </label>
                                <input id="slider" type="range" min="4" max="32" value="16" class=" slider m-b-20" />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="list-group-item small d-flex align-items-center">

                            <div class="form-group category-padding">
                                <label> Province </label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="list-group-item small d-flex align-items-center">

                            <div class="form-group category-padding">
                                <label> Promotion/Discount </label> <br>
                                <input type="checkbox"> Has Discount/Promotion
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card">
            <div class="row">

                <div class="col-sm-12 shop-page sub-page">
                    <section class="shop-section">

                        <div class="title-bar">
                            <h2 class="title top-35 text-left border-bottom">Shop List
                            </h2>
                        </div> <!-- title-bar -->
                        <div class="right-bar">
                            <div class="product-selection">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6" *ngFor="let p of shopList">
                                        <div class="product-wrapper">
                                            <div class="product-detail item-list" ><a routerLink="/shop/productdetails/{{p.userId}}"
                                                    class="animate-scale">
                                                    <div class="not_img shop-left">370 x 440px</div>
                                                </a>
                                                <div class="shop-right">
                                                    <h6 class="clr-red itemtitle">{{p.userName}}</h6>
                                                    <!-- <h6 class="head1"> Seller : thafarm </h6>
                                                    <h6 class="head2 m-b-20"> Province : thafarm </h6> -->
                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div> <!-- product-selection -->


                        </div> <!-- right-bar -->


                    </section> <!-- shop-page -->

                </div>
            </div>

        </div>
    </div>


</div>