<div class="main">
    <div class="row">
        <app-left-nav></app-left-nav>
        <div class="col-md-9">
            <div class="card ]">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="title-bar">
                            <h2 class="title">Transporter Booking List</h2><span class="title-border"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>