<div class="main">
    <div class="card">
        <div class="row">
            <div class="col-sm-12 m-b-20">
                <div class="title-bar">
                    <h2 class="title text-left border-bottom top-35"> Product Details </h2>
                </div>
            </div>
            <div class="col-sm-5">
                <section class="consulting-section section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5">
                                <div id="consulting-carousel" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item "
                                            *ngFor="let item of images;let index = index;let isFirst = first"
                                            [ngClass]="{active:isFirst}">
                                            <span class="consulting-caption">
                                                <div class="not_img" *ngIf="images == 'undefined'"
                                                    style="background-color: red;">370 x 440px</div>
                                                <img src="{{productPicUrl}}/{{prdId}}/{{item.imageName}}"
                                                    *ngIf="item.imageName" width="350" height="350"
                                                    class="d-block w-100" alt="image">

                                            </span>
                                        </div>

                                    </div>
                                    <ol class="carousel-indicators">
                                        <li data-target="#consulting-carousel"
                                            *ngFor="let item of images;let index = index;let isFirst = first"
                                            [ngClass]="{active:isFirst}">
                                            <img src="{{productPicUrl}}/{{prdId}}/{{item.imageName}}" alt="image">
                                        </li>


                                    </ol>
                                </div>


                            </div>
                        </div>

                    </div>
                </section> <!-- consulting-section -->


            </div>
            <div class="col-sm-7 ">
                <div class="pro-details">
                    <h2> {{product?.ProductName |uppercase}} </h2>
                    <h3> {{members?.userName}} </h3>
                    <h4> Special priceends in less than </h4>

                    <div>
                        <span class="fa fa-star checked m-r-5"></span>
                        <span class="fa fa-star m-r-5 checked"></span>
                        <span class="fa fa-star m-r-5 checked"></span>
                        <span class="fa fa-star m-r-5 checkbox"></span>
                        <span class="fa fa-star m-r-5"></span>
                        (4.1) <a href="#"> 17679 Ratings </a> | <a href="#"> 933 Reviews </a>
                    </div>

                    <hr>
                    <div> MRP {{product?.Price | number: '1.2-2'}} (Inclusive of all
                        taxes)Rs.{{product?.Discount}}% OFF </div>
                    <h1> Rs{{product?.standardPrice | number: '1.2-2'}} <span class="price-off"> {{product?.discount}} %
                            OFF </span></h1>

                    <div class="row m-t-20">
                        <div class="form-group ">
                            <div class="col-sm-2">
                                <label> Price: </label>
                            </div>
                            <div class="col-sm-10">
                                <label class="orange-txt"> ฿ {{product?.StandardPrice | number: '1.2-2'}}</label>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-2">
                                <label> Size: </label>
                            </div>
                            <div class="col-sm-10">
                                <label class="orange-txt"> 2Kg </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label> Type:
                                </label>
                            </div>
                            <div class="col-sm-10">
                                <label class="orange-txt">{{product?.PaymentOption}} </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label *ngIf="product?.StockQty != 0"> Quantity: {{product?.StockQty}}</label>
                                <div class="example-chip-list" *ngIf="product?.stockQty == 0">

                                    <label class="orange-txt">
                                        <!-- <mat-chip-list>
                                            <mat-chip class="cardinal-colors">Out Of Stock</mat-chip>
                                        </mat-chip-list> -->
                                    </label>
                                </div>
                                <!-- for style only added remove if any issue -->
                            </div>
                            <!-- <div class="col-sm-10">
                         <label> <div class="number-input">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                            <input class="quantity" min="0" name="quantity" value="1" type="number">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                          </div> </label>
                        </div> -->
                        </div>
                    </div>
                    <h5> Available offers </h5>
                    <p> <span class="offer">Special Price : </span>Get extra 10% off (price inclusive of discount) </p>
                    <p> <span class="offer"> Combo Offer :</span> Buy 2 items save 5%;Buy 3 or more save 10%See all
                        productsT&C </p>


                    <div class="row m-t-20 add-cart-buy-it-now">
                        <div class="col-sm-4 add-to-cart">
                            <!-- <a routerLink="/Cartitems" class="btn btn-primary addcart-btn"> Add to Cart</a> -->
                            <button [disabled]="product?.stockQty ==0" (click)="addCart()"
                                class="btn btn-primary addcart-btn">Add to Cart</button>
                        </div>
                        <div class="col-sm-4 buy-it-now">
                            <button [disabled]="product?.stockQty ==0" (click)="byNow()"
                                class="btn btn-primary addcart-btn buy-btn" style="width:100%">
                                Buy Now
                            </button>
                        </div>

                    </div>
                    <div class="facbook-icon">
                        <div class="thumbs-facebook-icon">
                            <a> <i class="fa fa-thumbs-o-up" width="30px"></i></a>
                            <a> <i class="fa fa-facebook-square" width="30px" (click)="facebookUI('test')"></i></a>
                        </div>
                    </div>
                    <!-- <div class="row">
                    <div class="col-sm-12 m-t-50">
                    <div  class="title-bar"><h2   class="title top-35"> Product Details </h2><span   class="title-border"></span></div>
                </div>
              
             
                    <div class="form-group">
                        <label class="col-sm-3"> Product Name: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div></div>
                    <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3"> Age:</label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div></div>
                    <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3"> Gender: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div></div>
                    <div class="row"> 
                    <div class="form-group">
                        <label class="col-sm-3"> Fighting Record: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div></div>
                    <div class="row"> 
                    <div class="form-group">
                        <label class="col-sm-3"> Sire/Breeder: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div></div>
                    <div class="row"> 
                    <div class="form-group">
                        <label class="col-sm-3"> Weight: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div> </div>
                    <div class="row"> 
                    <div class="form-group">
                        <label class="col-sm-3"> Breed: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div> </div>
                    <div class="row"> 
                    <div class="form-group">
                        <label class="col-sm-3"> Province: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div> </div>
                    <div class="row"> 
                    <div class="form-group">
                        <label class="col-sm-3"> Talent: </label>
                        <label class="col-sm-9 lbl-detail">   </label>
                    </div> </div>
                    <div class="row"> 
                    <div class="form-group">
                        <label class="col-sm-3"> Additional Information: </label>
                       <label class="col-sm-9 lbl-detail"> fgd  </label>
                    </div> </div> -->

                </div>
            </div>

        </div>




        <div class="row">
            <div class="col-sm-12 m-t-50">


                <h2> Product Description</h2>
                <table class="table table-striped">

                    <tbody>
                        <tr>
                            <td width="400" class="first"> Product Name: </td>
                            <td> {{product?.ProductName | uppercase}}</td>
                            <td> Age: </td>
                            <td> {{product?.age}}</td>
                        </tr>
                        <tr>
                            <td> Gender: </td>
                            <td>{{product?.gender}} </td>
                            <td> Fighting Record: </td>
                            <td>{{product?.fightingRecord | uppercase}} </td>
                        </tr>
                        <tr>
                            <td> Sire/Breeder: </td>
                            <td>{{product?.breedType}} </td>
                            <td> Weight: </td>
                            <td>{{product?.weight}} </td>
                        </tr>
                        <tr>
                            <td>Breed: </td>
                            <td>{{product?.breed }} </td>
                            <td>Province: </td>
                            <td>{{product?.province| uppercase}} </td>
                        </tr>
                        <tr>
                            <td>Talent:</td>
                            <td>{{product?.talents}}</td>
                            <td>Additional Information:</td>
                            <td>{{product?.ProductName}} </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <form name="form" (ngSubmit)="f.form.valid && postComment()" #f="ngForm" novalidate>
                    <label class="lbl-detail"> Post your comment </label>
                    <textarea class="form-control" [(ngModel)]="form.messageSubject" #messageSubject="ngModel"
                        name="messageSubject" [ngClass]="{'is-invalid':f.submitted && messageSubject.invalid} "
                        required></textarea>
                    <div style="color: red;" *ngIf="messageSubject.errors && f.submitted">
                        <div *ngIf="messageSubject.errors['required']">Message is required</div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 text-right m-t-20">
                <a (click)="postComment()" class="btn btn-default "> Post Comment</a>
                <a (click)="dialogbox(breedtemplate)" class="btn btn-primary ">Send Message to Seller</a>

            </div>

        </div>
        <div class="card" style="margin-top: 15px">
            <div class="title-bar">
                <h2 class="title">Comments </h2><span class="title-border"></span>
            </div>
            <div class="row">
                <div class="col-sm-6">

                    <p *ngFor="let p of message"> {{p.comment}} </p>
                </div>
                <div class="col-sm-6">

                    <p *ngFor="let p of message">{{p.senderName}} {{p.createdOn | date:'dd/mm/yyyy h:mm:ss a'}}
                        <button class="btn btn-primary">
                            ReplyMessage
                        </button>
                        <button class="btn btn-primary">
                            Message(Inbox)
                        </button>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- send message popup -->
<ng-template #breedtemplate>
    <div>
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header model-hdr-pdng">
                <button type="button" class="close message-to-sellar" (click)="breeddialogRef.close()">×</button>
                <h4 class="modal-title center-block">Send Message to Seller</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" id="dialogMessage">
                <form autocomplete="off" class="form-horizontal center-block">
                    <div class="row">
                        <div class="col-md-12">

                            <div id="errors" style="color:red" class="ui-state-error-text">
                            </div>
                            <div class="form-group">
                                <input data-val="true" data-val-number="The field ProductID must be a number."
                                    data-val-required="The ProductID field is required." id="ProductID" name="ProductID"
                                    type="hidden" value="21067">
                                <input data-val="true" data-val-number="The field ReceiverID must be a number."
                                    data-val-required="The ReceiverID field is required." id="ReceiverID"
                                    name="ReceiverID" type="hidden" value="11024">
                                <div class="col-sm-12">
                                    <textarea class="form-control" cols="20" id="txtMessage" name="MessageSubject"
                                        placeholder="Message" rows="8" value=""></textarea>
                                </div>
                            </div>
                            <input type="file" (click)="uploadFile($event)">

                            <div id="pswderror" style="color:red" class="ui-state-error-text">
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                </div>
                                <div class="col-md-4">
                                    <button type="button" onclick="SendMessageToSeller()"
                                        class="custom-btn btn btn-default message-sellar-submit">Submit</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
<!-- send message popup -->