<header class="header-section header-section-one">
    <nav class="navbar navbar-top navbar-inverse">
        <div class="container">
            <div class="navbar-full-">
                <div class="navbar-wrapper">
                    <div class="navbar-header hidden-sm"  >
                        <a class="navbar-brand" routerLink="">
                             <h5 class="caption-two visible-sm visible-xs"> cockfightkaichon </h5>
                            <!-- <img class="caption-two visible-sm visible-xs" src="assets/images/logo-m.png" alt="image"> -->
                        </a>
                    </div>
                    <div class="collapse navbar-collapse hidden-sm hidden-xs">
                        
                        <ul class="nav navbar-nav">
                           
                            <li ><a routerLink="/" routerLinkActive="active" >Home	</a></li>
                            <li><a routerLink="/shop/shop/2173" routerLinkActive="active"> Shop</a></li>
                            <li><a routerLink="/transport/2172"  routerLinkActive="active">Transporter</a></li>
                            <li><a routerLink="/role"  routerLinkActive="active">  Reserve Transport</a></li>
                            <li><a routerLink="/app" routerLinkActive="active"> Post 	Comments</a></li>
                            <li><a routerLink="downloadapp"routerLinkActive="active">   Download App</a></li>
                            <li><a routerLink="/aboutus" routerLinkActive="active">   About Us</a></li>
                            <li><a routerLink="/contactus" routerLinkActive="active">Contact Us</a>    </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </nav>
</header>

