@media only screen and (max-width: 479px){
   .dropdown-menu {
       left: 0px !important;
       top: 32px;
       &-2{
        &::before {
            right: 69%;
          }
        }
   }
  
}
.test{
  margin-left: -15px;
  padding: 12px;
  color: white;
}
