<div class="main">
    <div class="card">
        <div class="row">
            <div class="col-sm-12 m-b-20">
                <div class="title-bar">
                    <h2 class="title text-left border-bottom top-35"> Payment Successfull </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">

                </div>
                <div class="col-md-2">
                   <p class=" text-left border-bottom top-35">TotalAmount:</p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <p>ProductName:</p>
                    <p>SellerID:</p>
                      
                </div>
                <div class="col-md-2">
                   
                </div>
                <div class="col-md-2">
                    <p>StandardPrice:</p>
                    <p>Discount:</p>
                </div>

            </div>
            <!-- <button (click)="confirmOrder()" class="btn btn-primary" style="float: right;">Confirm Payment</button> -->
        </div>
    </div>
</div>