<div class="main">
    
    
    <div class="card m-t-20">
     <div class="row">
         <div class="col-sm-7"><div  class="title-bar"><h2 class="title text-left m-0"> Post Comments </h2></div></div><div  class="col-sm-5 text-right">

             <div class="row">
                 <div class="col-sm-4">
                     <select class="form-control"> 
                         <option> Select Category </option>
                         <option> Question </option>
                         <option> Review </option>
                         <option> News </option>
                     </select>
                 </div>
                 <div class="col-sm-4">
                     <select class="form-control"> 
                         <option> Select Topic </option>
                         <option> Question </option>
                         <option> Review </option>
                         <option> News </option>
                     </select>
                 </div>
                 <div class="col-sm-3">
                     <a (click)="chat()" class="btn btn-primary"> Start New Topic</a>
                 </div>
             </div>
         
         
         
         
         </div>
         <div  class="col-sm-12"><div  class="border-bottom"></div></div></div> 
         
        <div class="row">
            <div class="col-sm-12 m-t-20" >
                <table class="table table-responsive table-striped" [hidden]="true">
                 <thead>
                     <tr>
                         <th>Food Die</th>
                         <th>	Post Category</th>
                         <th>	Post Topic</th>
                         <th> Post Likes </th>
                         <th> Post Dislikes </th>
                         <th> Comments</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                     </tr>
                     <tr>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                     </tr>
                     <tr>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                     </tr>
                     <tr>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                         <td> Food Die </td>
                     </tr>
                 </tbody>
                </table>
            </div>
        </div>
    </div>
  
          