<div class="col-sm-12 shop-page sub-page">
    <section class="shop-section section-padding">

        <div class="row">


            <div class="col-md-12 m-t-20">
                <div class="title-bar">
                    <h2 class="title">Shop Details </h2>
                    <span class="title-border"></span>
                </div> <!-- title-bar -->
                <div class="right-bar">
                    <div class="product-selection">
                        <div class="row">
                            <div class="col-md-3 col-sm-6" >
                                <div class="product-wrapper">

                                    <div class="product-detail item-list">
                                        <a href="#"></a>
                                        <a routerLink="customer/ProdcutDetails/" class="animate-scale">
                                            <div class="not_img">370 x 440px</div>
                                            <!-- <img src="{{productPicUrl}}/{{productId}}/{{productImage}}" *ngIf="productImage"/> -->
                                        </a>
                                        <!-- <h6 class="clr-red itemtitle">chicken911</h6> -->
                                        <h6 class="title1">zxc </h6>
                                        <h6 class="head1"> Seller : zdcxv  </h6>
                                        <h6 class="head2 m-b-20"> Province :  zxc</h6>
                                        <div class="price price1">$</div>
                                        <span class="qty">Stock: xc </span>
                                        <i class="fa fa-youtube-play ytube-icon"></i>
                                        <!-- <i (click)="addwish()" class="fa fa-thumbs-o-up thum-icon"></i> -->

                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-md-3 col-sm-6">
                                <div class="product-wrapper">

                                    <div class="product-detail item-list"><a href="#">
                                        </a><a href="#" class="animate-scale">
                                            <div class="not_img">370 x 440px</div>
                                        </a>
                                        <h6 class="clr-red itemtitle">chicken911</h6>
                                        <h6 class="title1">ไก่บ้าน 12 กย</h6>
                                        <h6 class="head1"> Seller : thafarm </h6>
                                        <h6 class="head2 m-b-20"> Province : thafarm </h6>
                                        <div class="price price1">$ 2500.00</div>
                                        <span class="qty"> 1 </span>
                                        <i class="fa fa-youtube-play ytube-icon"></i>
                                        <i class="fa fa-thumbs-o-up thum-icon"></i>

                                    </div>
                                </div>
                            </div> -->



                        </div>
                    </div> <!-- product-selection -->


                </div> <!-- right-bar -->
            </div>
        </div>

    </section> <!-- shop-page -->

</div>
